@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

label{
    display: block;
    font-weight: 600;
}
.notification{
    display: none;
    position: absolute;
    top: 74px;
    color: white;
    right: 33px;
}
@keyframes ldio-xewc9m53fj-1 {
    0% { top: 68.556px; height: 59.888000000000005px }
    50% { top: 79.785px; height: 37.43px }
    100% { top: 79.785px; height: 37.43px }
  }
  @keyframes ldio-xewc9m53fj-2 {
    0% { top: 71.36325px; height: 54.273500000000006px }
    50% { top: 79.785px; height: 37.43px }
    100% { top: 79.785px; height: 37.43px }
  }
  @keyframes ldio-xewc9m53fj-3 {
    0% { top: 74.17049999999999px; height: 48.659px }
    50% { top: 79.785px; height: 37.43px }
    100% { top: 79.785px; height: 37.43px }
  }
  .ldio-xewc9m53fj div { position: absolute; width: 27.58px }.ldio-xewc9m53fj div:nth-child(1) {
    left: 35.46px;
    background: #292664;
    animation: ldio-xewc9m53fj-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
  }
  .ldio-xewc9m53fj div:nth-child(2) {
    left: 84.71px;
    background: #667395;
    animation: ldio-xewc9m53fj-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
  }
  .ldio-xewc9m53fj div:nth-child(3) {
    left: 133.96px;
    background: #94a9ce;
    animation: ldio-xewc9m53fj-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
  }

  .loadingio-spinner-pulse-nb605kmnwcp {
    width: 197px;
    height: 197px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-xewc9m53fj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-xewc9m53fj div { box-sizing: content-box; }
